<header class="header">
  <h1 class="title">{{title}}</h1>
  <nav class="navbar">
    <ul class="header__navbar-list">
      <li class="header__navbar-item"><a href="" class="header__navbar-a">inicio</a></li>
      <li class="header__navbar-item"><a href="" class="header__navbar-a">platillos</a></li>
      <li class="header__navbar-item"><a href="" class="header__navbar-a">sobre nosotros</a></li>
      <li class="header__navbar-item"><a href="" class="header__navbar-a">contacto</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>