<header class="header">
  <h1 class="title">{{title}}</h1>
  <nav class="header__navbar">
    <ul class="header__navbar-list">
      <li class="header__navbar-item"><a routerLink="/home">Inicio</a></li>
      <li class="header__navbar-item"><a routerLink="/platillos">Platillos</a></li>
      <li class="header__navbar-item"><a routerLink="/about">Sobre nosotros</a></li>
      <li class="header__navbar-item"><a routerLink="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>